* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  background-image: url(./assets/mountains-universe-1.png);
  background-size: cover;
}

/*.background {
  background-image: url(./assets/mountains-universe-1.png);
  background-size: cover;
}*/

.background1 {
  background-image: url(./assets/mountains-universe02.png);
  background-size: cover;
}

.background2 {
  background-image: url(./assets/mountains-universe-3.png);
  background-size: cover;
}

/*body {
  background-image: url(./assets/mountains-universe-1.png);
  background-size: cover;
}*/

body,
input,
button,
select,
textarea {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 62, 5%;
  font-family: "Roboto", sans-serif;
  --platform-aliases-text-base: #c4c4cc;
  --neutral-colors-white: #fff;
  --button-color-blue: #02799d;
}

nav {
  display: flex;
  gap: 3.3rem;
  padding: 4rem 7rem;
}

nav a:hover {
  transform: scale(1.1);
  color: var(--neutral-colors-white);
}

nav a {
  text-decoration: none;
  color: var(--platform-aliases-text-base);
  transition: all 0.2s ease;
}

.selected {
  transform: scale(1.1);
  color: var(--neutral-colors-white);
}

.home {
  margin-top: -7rem;
  display: grid;
  height: 100vh;
  place-content: center;
  color: var(--neutral-colors-white);
  align-items: center;
}

main {
  margin-left: 7.1rem;
  margin-top: 10rem;
}

h1,
h2,
p {
  color: var(--neutral-colors-white);
}

p {
  color: #e1e1e6;
  max-width: 64.8rem;
  line-height: 160%;
}

h2 {
  margin-left: 7.1rem;
}

.home a {
  background: none;
  border-radius: 0.5rem;
  border: 0.2rem solid #fff;
  color: var(--neutral-colors-white);
  width: 19.7rem;
  margin: auto;
  padding: 1.2rem 3.2rem;
  cursor: pointer;
  margin-top: 2.4rem;
  font-size: 1.4rem;
  transition: all 0.2s ease;
  text-decoration: none;
}

.home a:hover {
  background: var(--neutral-colors-white);
  color: var(--button-color-blue);
  transform: scale(1.1);
}

a {
  color: var(--neutral-colors-white);
}
